.navbar {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 24px 32px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #c9d2d0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navLink {
  padding: 8px 12px;
  color: #1f2937;
  text-decoration: none;
  border-radius: 6px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.navLink:hover {
  color: white;
  background-color: rgb(30, 57, 34);
  border-radius: 6px;
}
